.qw {


    position: absolute;
width: 253px;
height: 129px;
left: 0px;
top: 0px;

}



.zag{


    position: absolute;
width: 1920px;
height: 129px;
left: 253px;
top: 0px;

background: #000000;
}

.er {

    position: absolute;
width: 229px;
height: 55px;
left: 880px;
top: 25px;

font-family: 'Rosario';
font-style: italic;
font-weight: 700;
font-size: 36px;
line-height: 44px;

color: #FFFCFC;
}









.rt{

    position: absolute;
width: 188px;
height: 55px;
left: 1132px;
top: 25px;

font-family: 'Rosario';
font-style: italic;
font-weight: 700;
font-size: 36px;
line-height: 44px;

color: #FFFCFC;
}


.ty {


    position: absolute;
width: 124px;
height: 55px;
left: 1293px;
top: 25px;

font-family: 'Rosario';
font-style: italic;
font-weight: 700;
font-size: 36px;
line-height: 44px;

color: #FFFCFC;
}



.yu{


    position: absolute;
width: 124px;
height: 55px;
left: 1470px;
top: 25px;

font-family: 'Rosario';
font-style: italic;
font-weight: 700;
font-size: 36px;
line-height: 44px;

color: #FFFCFC;
}


.uo{

    position: absolute;
width: 124px;
height: 55px;
left: 1617px;
top: 25px;

font-family: 'Rosario';
font-style: italic;
font-weight: 700;
font-size: 36px;
line-height: 44px;

color: #FFFCFC;
}




.op{


    position: absolute;
width: 124px;
height: 55px;
left: 1780px;
top: 25px;

font-family: 'Rosario';
font-style: italic;
font-weight: 700;
font-size: 36px;
line-height: 44px;

color: #FFFCFC;
}







.ad{

    position: absolute;
    width: 370px;
    height: 583px;
    left: 43px;
    top: 318px;
    
    background: url(pexels-rodnae-productions-7697438.jpg);
    border-radius: 40px;
}



.df{


    position: absolute;
width: 465px;
height: 410px;
left: 485px;
top: 200px;

background: url(pexels-rodnae-productions-7697327.jpg);
border-radius: 30px;
}

.fg {

    position: absolute;
width: 465px;
height: 364px;
left: 485px;
top: 652px;

background: url(pexels-rodnae-productions-7697400.jpg);
border-radius: 30px;
}

.ghg{


    position: absolute;
    width: 467px;
    height: 410px;
    left: 968px;
    top: 200px;
    
    background: url(pexels-rodnae-productions-7697273.jpg);
    border-radius: 30px;
}

.jk {


    position: absolute;
width: 475px;
height: 364px;
left: 973px;
top: 652px;

background: url(pexels-rodnae-productions-7697315.jpg);
border-radius: 30px;
}

.kl {


    position: absolute;
width: 367px;
height: 583px;
left: 1507px;
top: 318px;

background: url(pexels-rodnae-productions-7697361.jpg);
border-radius: 40px;
}


.zxcs {

    position: absolute;
width: 253px;
height: 129px;
left: 0px;
top: 1200px;
}





.xc{
    background: #000000;
    position: absolute;
    width: 1920px;
    height: 129px;
left: 253px;
top: 1200px;
}



.ere{


    position: absolute;
width: 229px;
height: 55px;
left: 864px;
top: 1220px;

font-family: 'Rosario';
font-style: italic;
font-weight: 700;
font-size: 36px;
line-height: 44px;

color: #FFFCFC;
}

.rte{

    position: absolute;
width: 188px;
height: 55px;
left: 1132px;
top: 1220px;

font-family: 'Rosario';
font-style: italic;
font-weight: 700;
font-size: 36px;
line-height: 44px;

color: #FFFCFC;
}


.tye{


    position: absolute;
width: 124px;
height: 55px;
left: 1293px;
top: 1220px;

font-family: 'Rosario';
font-style: italic;
font-weight: 700;
font-size: 36px;
line-height: 44px;

color: #FFFCFC;
}
.yue {


    position: absolute;
width: 124px;
height: 55px;
left: 1470px;
top: 1220px;

font-family: 'Rosario';
font-style: italic;
font-weight: 700;
font-size: 36px;
line-height: 44px;

color: #FFFCFC;
}




.uoe{



    position: absolute;
width: 124px;
height: 55px;
left: 1617px;
top: 1220px;

font-family: 'Rosario';
font-style: italic;
font-weight: 700;
font-size: 36px;
line-height: 44px;

color: #FFFCFC;
}


.ope{

    position: absolute;
    width: 124px;
    height: 55px;
    left: 1780px;
    top: 1220px;
    
    font-family: 'Rosario';
    font-style: italic;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    
    color: #FFFCFC;
    

}


.nn{

    position: absolute;
    width: 350px;
    height: 350px;
    left: 69px;
    top: 1400px;

}

.mnb{

    position: absolute;
width: 380px;
height: 56px;
left: 75px;
top: 1750px;

font-style: italic;
font-weight: 700;
font-size: 48px;
line-height: 58px;



color: #000000;
}

.jjo {


    position: absolute;
width: 350px;
height: 350px;
left: 69px;
top: 1980px;
}


.ytr{


    position: absolute;
width: 380px;
height: 56px;
left: 75px;
top: 2300px;


font-style: italic;
font-weight: 700;
font-size: 48px;
line-height: 58px;


color: #000000;
}




.asdq{

    top: 1400px;
    position: absolute;
width: 350px;
height: 350px;
left: 539px;
}

.kjha{

    position: absolute;
width: 380px;
height: 56px;
left: 543px;
top: 517px;


font-style: italic;
font-weight: 700;
font-size: 48px;
line-height: 58px;

top: 1750px;
color: #000000;
}

.fh {

    top: 1980px;
    
position: absolute;
width: 350px;
height: 350px;
left: 539px;
}

.mq{


    position: absolute;
width: 380px;
height: 56px;
left: 543px;



font-style: italic;
font-weight: 700;
font-size: 48px;
line-height: 58px;

top: 2300px;
color: #000000;
}


.clas{


    position: absolute;
width: 945px;
height: 1080px;
left: 975px;
top: 1328px;
}


.bg{
top: 2570px;

    position: absolute;
width: 253px;
height: 129px;
}

.askq{


    position: absolute;
width: 1920px;
height: 129px;
left: 253px;
top: 2570px;

background: #000000;
}


.err{


    position: absolute;
width: 229px;
height: 55px;
left: 864px;
top: 2595px;

font-family: 'Rosario';
font-style: italic;
font-weight: 700;
font-size: 36px;
line-height: 44px;

color: #FFFCFC;
}

.rtr{
    top: 2595px;
    position: absolute;
    width: 188px;
    height: 55px;
    left: 1132px;
 
    
    font-family: 'Rosario';
    font-style: italic;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    
    color: #FFFCFC;

}


.tyr{


    position: absolute;
width: 124px;
height: 55px;
left: 1293px;
top: 2595px;

font-family: 'Rosario';
font-style: italic;
font-weight: 700;
font-size: 36px;
line-height: 44px;

color: #FFFCFC;
}

.yur{


    position: absolute;
width: 124px;
height: 55px;
left: 1470px;
top: 2595px;

font-family: 'Rosario';
font-style: italic;
font-weight: 700;
font-size: 36px;
line-height: 44px;

color: #FFFCFC;
}

.uor{


    position: absolute;
width: 124px;
height: 55px;
left: 1617px;
top: 2595px;

font-family: 'Rosario';
font-style: italic;
font-weight: 700;
font-size: 36px;
line-height: 44px;

color: #FFFFFF;
}

.opr {

    top: 2595px;
    
position: absolute;
width: 124px;
height: 55px;
left: 1780px;


font-family: 'Rosario';
font-style: italic;
font-weight: 700;
font-size: 36px;
line-height: 44px;

color: #FFFFFF;
}

.jaq{

    position: absolute;
width: 1787px;
height: 177px;
left: 300px;
top: 2700px;

font-family: 'Rosario';
font-style: normal;
font-weight: 700;
font-size: 96px;
line-height: 116px;
display: flex;
align-items: center;
text-align: center;

color: #000000;
}

.bghs{



    position: absolute;
width: 404px;
height: 677px;
left: 66px;
top: 3000px;

background: url(pexels-cottonbro-3993455.jpg);
border-radius: 40px;
}

.fghaa{

    position: absolute;
    width: 392px;
    height: 677px;
    left: 526px;
    top: 3000px;
    
    background: url(pexels-rodnae-productions-7697489.jpg);
    border-radius: 40px;
    
}


.sdff{


    position: absolute;
width: 400px;
height: 677px;
left: 1006px;
top: 3000px;

background: url(pexels-máximo-essf.jpg);
border-radius: 40px;
}

.gqwe{


    position: absolute;
width: 396px;
height: 677px;
left: 1457px;
top: 3000px;

background: url(vcbnc.jpg);
border-radius: 40px;
}


.gqqa{


    position: absolute;
width: 253px;
height: 129px;
left: 0px;
top: 3800px;

background: url(klipartz);
}


.asol{


    position: absolute;
width: 1920px;
height: 129px;
left: 253px;
top: 3800px;

background: #000000;
}




.errа{


    position: absolute;
width: 229px;
height: 55px;
left: 864px;
top: 3820px;

font-family: 'Rosario';
font-style: italic;
font-weight: 700;
font-size: 36px;
line-height: 44px;

color: #FFFCFC;
}

.rtrа{
    position: absolute;
    width: 188px;
    height: 55px;
    left: 1132px;
    top: 3820px;
    
    font-family: 'Rosario';
    font-style: italic;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    
    color: #FFFCFC;
}


.tyrs{

    position: absolute;
width: 124px;
height: 55px;
left: 1293px;
top: 3820px;

font-family: 'Rosario';
font-style: italic;
font-weight: 700;
font-size: 36px;
line-height: 44px;

color: #FFFCFC;
}



.yurа{
    position: absolute;
width: 124px;
height: 55px;
left: 1470px;
top: 3820px;

font-family: 'Rosario';
font-style: italic;
font-weight: 700;
font-size: 36px;
line-height: 44px;

color: #FFFCFC;

}


.uorа{

    position: absolute;
width: 124px;
height: 55px;
left: 1617px;
top: 3820px;

font-family: 'Rosario';
font-style: italic;
font-weight: 700;
font-size: 36px;
line-height: 44px;

color: #FFFCFC;
}


.oprа{

    
position: absolute;
width: 124px;
height: 55px;
left: 1780px;
top: 3820px;

font-family: 'Rosario';
font-style: italic;
font-weight: 700;
font-size: 36px;
line-height: 44px;

color: #FFFCFC;
}


.adgfhds{
top: 4000px;
    position: absolute;
width: 798px;
height: 173px;
left: 169px;
bottom: 728px;

font-family: 'Rosario';
font-style: italic;
font-weight: 700;
font-size: 64px;
line-height: 78px;
text-align: center;

color: #000000;
}


.cart{


    position: absolute;
width: 626px;
height: 570px;
right: 162px;
top: 4030px;

background: url(.png);
}



.asdfghj{


    position: absolute;
width: 936px;
height: 400px;
left: 162px;
top: 4220px;

background: #E5E5E5;
}


.asdfghj .hbz{
left: 29px;
top: 35px;
    position: absolute;
width: 377px;
height: 80px;



background: #FFFFFF;
}

.hbz h1{


    position: absolute;
width: 380px;
height: 78px;
left: 10px;

color: #E5E5E5;

}


.asdfghj .mnzaq{


 top: 35px;   
position: absolute;
width: 452px;
height: 80px;
left: 456px;
bottom: 594px;

background: #FFFFFF;
}

.mnzaq h1{
left: 69px;
    position: absolute;
    width: 454px;
    height: 78px;
    color: #E5E5E5;

}


.asdfghj .ajfr{
top: 160px;
    position: absolute;
width: 878px;
height: 209px;
left: 29px;
bottom: 342px;

background: #FFFFFF;
}

.ajfr h1{

left: 10px;
    position: absolute;
    width: 454px;
    height: 78px;
    color: #E5E5E5;
    
}


.fdjhfdd{


    position: absolute;
width: 565px;
height: 187px;
left: 162px;
top: 4800px;

font-family: 'Rosario';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 36px;
display: flex;
align-items: center;
text-align: center;

color: #000000;
}

.dflhg{

    position: absolute;
    width: 485px;
    height: 187px;
    left: 808px;
    top: 4800px;
    
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;

}

.faabaeygsff{


    position: absolute;
width: 390px;
height: 186px;
left: 1368px;
top: 4800px;

font-family: 'Rosario';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 36px;
display: flex;
align-items: center;
text-align: center;

color: #000000;
}


